@import '../../styles/layout';
@import '../../styles/media-queries';

.search-results {
  @include flex-column;
  width: 60%;
  max-width: 800px;

  @include media-query('tablet-lg') {
    width: 70%;
  }
  
  @include media-query('phone-lg') {
    width: 95%;
  }

  .no-results {
    text-align: center;
  }
  .search-term {
    margin-top: 0;
    text-align: center;
  }
}