@import '../../styles/layout';

.header-section {
  @include flex-column;
  margin-top: 50px;
  width: 50%;
  max-width: 1200px;

  .header-title {
    margin-bottom: 0;
    text-align: center;
    font-size: 2em;
  }
  .header-subtitle {
    text-align: center;
    font-size: 0.9em;
  }
}
