@import '../../styles/layout';

.search {
  @include flex-column;
  margin-bottom: 20px;
  width: 100%;
}

.submission-form {
  @include flex-row;
  justify-content: center;
  width: 50%;
  margin-top: 20px;

  .search-bar {
    width: 50%;
    min-width: 210px;
    height: 25px;
    margin-right: 10px;
  }
  
  .search-btn {
    height: 30px;
  }
}