@import '../../styles/layout';

.search {
  @include flex-column;
  margin-bottom: 20px;
}

.submission-form {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;

  .search-bar {
    width: 500px;
    height: 25px;
    margin-right: 10px;
  }
  
  .search-btn {
    height: 30px;
  }
}